.title {
    color: #888888;
    font-size: 22px;
    font-weight: 600;
    margin-top: 24px;
}

.code {
    color: #BCBCBC;
    background-color: #171D1F;
    max-height: 250px;
    overflow-y: auto;
    padding: 16px;
    border-radius: 8px;
}