.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    height: fit-content;

    .pagination {
        color: #BFFFC3;
        font-size: 18px;
        text-align: center;
        display: inline-block;
    }
}

@media screen and (max-width: 1000px) {
    .main {
        display: flex;
        flex-flow: column;
    }
}